<style type="text/css">
    .pointer{
        cursor: pointer;
    }
</style>

<tabset>
    <tab class='pointer' heading="About CTSM">
      <p>Founded in 1996, the Center for Technology and Systems Management leverages the expertise of both in-house experts and external associates to offer the following capabilities to its clients:</p>

    <ul>
    <li>Systems engineering that encompasses functional modeling, technology forecasting and assessment, human and organizational factors, and expert opinion elicitation.</li>
    <li>Reliability, risk, statistical and decision studies that include risk analysis and management, risk-based regulation development, risk profiling, modeling and analysis, risk-based decision making, multi-criteria ranking and decision making, as well as failure, crash and accident investigation including forensic engineering.</li>
    <li>Information technology that includes web-based computing, databases, visualization, and simulation.</li>
    <li>Project management that includes scheduling with network optimization and equilibrium problems.</li>
    <li>Robotics, automation, control and intelligent systems.</li>
    </ul>

    <p>The CTSM's strength stems from its ability to develop technologies and creatively utilize sophisticated analytical tools to meet a set of objectives for decision situations relating to various systems, such as defense, homeland security, maritime, infrastructure, facility, health, intelligent and equipment systems. The technologies and systems are further defined in the context of many industries. Using a matrix structure of technologies and systems, several primary thrust areas were identified to constitute primary interests and the scope for the center by capitalizing on existing resources, including the University of Maryland at-large.</p>
    <p>The products of the CTSM increase efficiency and effectiveness, enhance reliability, reduce failure rates, and support rational decision making for a cost-effective management of risk.</p>

    </tab>
    <tab class='pointer' heading="Risk Analysis">
      <p>CTSM completed many risk studies for governmental and corporate sponsors. The studies include the following selected projects:</p>

    <h5>U.S. Army Corps of Engineers</h5>
    <ul>
    <li>Risk analysis of dams</li>
    <li>Flood damage assessment (residential, commercial, coastal, expert opinion elicitation)</li>
    </ul>
    <h5>U.S. Food and Drug Administration</h5>
    <ul>
    <li>Risk analysis of drug delivery systems</li>
    </ul>
    <h5>U.S. Coast Guard</h5>
    <ul>
    <li>Electric induced drowning</li>
    <li>Approval of personal flotation devices</li>
    </ul>
    </tab>

    <tab class='pointer' heading="Reliability Analysis">
    <p>CTSM completed many reliability studies for governmental and corporate sponsors. The studies include the following selected projects:</p>

    <h5>Navy: ONR and NSWC</h5>
    <ul>
    <li>Reliability-based design of ship structures</li>
    <li>Repair of ship structures</li>
    <li>Risk-based inspection and maintenance</li>
    </ul>
    <h5>U.S. Coast Guard</h5>
    <ul>
    <li>Life expectancy assessment of boats</li>
    <li>Personal flotation devices</li>
    <li>Electricity-induced drowning</li>
    </ul>
    <h5>Ford</h5>
    <ul>
    <li>Enhanced identification of reliability concerns</li>
    <li>Warranty analysis</li>
    </ul>
    </tab>
    <tab class='pointer' heading="Uncertainty Modeling">
    <p>CTSM completed several studies in this area for governmenta sponsors. The studies include the following selected projects:</p>

    <h5>Air Force Office of Scientific Research</h5>
    <ul>
    <li>Ignorance analysis for knowledge construction</li>
    </ul>
    <h5>National Science Foundation</h5>
    <ul>
    <li>Uncertainty modeling and analysis</li>
    </ul>
    </tab>
    <tab class='pointer' heading="Intelligent Systems">
    <p>The 21st century will see the dawn of intelligent systems. The 19th century gave rise to advanced mechanical systems, and the 20th century to electro-mechanical systems. The information age will feature more than a proliferation of information – it will mark the advent of autonomous intelligent machines, such as robotic air, ground, and sea vehicles for military and civil applications, and ubiquitous intelligence embedded in commonplace objects. The U.S. Army’s Future Combat System (FCS) will replace conventional battlefield weapons, such as tanks and artillery, with robotic platforms. The Unmanned Combat Air Vehicle (UCAV) will replace manned combat aircraft. The Intelligent Vehicle Initiative (IVI) of the Department of Transportation will lead to the driverless car and truck. Aside from the impact of intelligent systems on the military, they will have a profound impact on the U.S. and global economy. The improvement in industrial and service sector productivity will exceed that of the industrial and electronics ages. The wealth of the world will increase exponentially again, benefiting the poor nations as well as the rich.</p>

    <p>The CTSM activities in this area are conducted at the Intelligent Systems Laboratory (ISL) that was established in 2003 in collaboration with the National Institute of Standards and Rechnology (NIST), along with a number of companies in the vicinity focused on robotics and intelligent systems. The ISL will perform research and development on all aspects of intelligent systems.</p>
    </tab>
    <tab class='pointer' heading="Homeland Security">
    <p>The protection of critical infrastructure and key resources (CI/KR) for homeland security requires choosing among a large set of protective, response, and recovery actions for reducing risk to an acceptable level. The selection of investment alternatives for improving regional or asset security and increasing infrastructure resilience depends on several factors – their cost to implement, whether they meet risk reduction objectives, and their cost-effectiveness. To accomplish this task, the Department of Homeland Security (DHS) has identified risk methods as the primary underlying framework for system evaluations, operational assessments, technology assessments, resource and support analyses, and field operations analyses; according to the draft DHS National Infrastructure Protection Plan, benefit-cost analysis is the hallmark of critical infrastructure protection decision-making.</p>

    <p>The protection of critical infrastructure and key resources (CI/KR) for homeland security requires choosing among a large set of protective, response, and recovery actions for reducing risk to an acceptable level. The selection of investment alternatives for improving regional or asset security and increasing infrastructure resilience depends on several factors – their cost to implement, whether they meet risk reduction objectives, and their cost-effectiveness. To accomplish this task, the Department of Homeland Security (DHS) has identified risk methods as the primary underlying framework for system evaluations, operational assessments, technology assessments, resource and support analyses, and field operations analyses; according to the draft DHS National Infrastructure Protection Plan, benefit-cost analysis is the hallmark of critical infrastructure protection decision-making.</p>

    <p>The Critical Asset & Portfolio Risk Analysis (CAPRA) methodology developed by the CTSM consists of robust procedures for assessing and managing the risks to CI/KR exposed to a wide spectrum of current and emerging hazards and threats. The CAPRA methodology is designed to analyze, assess, and report risks for the purpose of identifying, screening, and ranking hazards or assets based on their relative risk exposure to all hazards. The CAPRA methodology provides a framework for evaluating the cost-effectiveness of proposed risk reduction and security investment alternatives considered for managing risks to a region or CI/KR. The results from a CAPRA assessment are communicated to all relevant stakeholders in the form of custom-tailored risk communication reports designed to meet the unique information needs and requirements of all persons charged with managing risk. CAPRA was featured in the All Hazards Forum in 2006.</p>

    <p>Based on sound principles of risk and uncertainty analysis, the CAPRA methodology provides a quantitative framework for assessing risk to a region and its assets due to natural and technological hazards and security threats. Defining risk as the combination of rates and consequences, CAPRA uses an annual rate of occurrence derived from past data (for natural hazards) or expert judgment of scenario attractiveness and annual attack rates (for security threats). For consequence, CAPRA quantifies the potential loss for each hazard and threat scenario in terms of several metrics including economic damages and loss of life. These metrics combined yield risk profiles in terms of dollars and lives lost; these intuitive metrics facilitate a rational and coherent evaluation of the net benefit associated with alternative risk reduction strategies.</p>

    <p>The following two papers describe the details of CAPRA:</p>
    <ol>
    <li>Ayyub, B. M., McGill, W. L., Kaminskiy, M., “Critical Asset and Portfolio Risk Analysis for Homeland Security: An All-Hazards Framework,” Risk Analysis International Journal, Society for Risk Analysis, Vol. 27, No. 3, 2007, 789-801, DOI: 10.1111/j.1539-6924.2007.00911.x.</li>
    <li>McGill, W. L., Ayyub, B. M., Kaminskiy, M., “A Quantitative Asset-Level Risk Assessment and Management Framework for Critical Asset Protection,” Risk Analysis International Journal, Society for Risk Analysis, Vol. 27, No. 5, 2007, 1265-1281, DOI: 10.1111/j.1539-6924.2007.00955.x.</li>
    </ol>
        </tab>

</tabset>