
<h3>Professor Bilal M. Ayyub</h3>
<p>Director, Center for Technology and Systems Management</p>

<p>Department of Civil and Environmental Engineering
University of Maryland, College Park, MD 20742</p>
<ul style="list-style-type: none;">
  <li><a href="mailto:">ba@umd.edu</a></li>
   <li>(301) 405-1956</li>
   <li>(301) 405-2585</li>
<li><a href="http://www.ctsm.umd.edu/ayyub">http://www.ctsm.umd.edu/ayyub</a></li>
<br />
<form action="mailto:marcus.orochena@gmail.com" enctype="text/plain" method="post">
<p>Your Name:</p>
<input name="Name" type="text" id="Name" size="40"></p>
<p>E-mail address:</p>
<input name="E-mail" type="text" id="E-mail" size="40">
<p>Enter your message:</p>
<p><textarea name="Comment" cols="55" rows="5"
id="Comment"></textarea></p>
<p><input type="submit" name="Submit" value="Submit"></p>
</form>
