
<!-- Main Content Section -->
<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
<div class="large-9 push-3 columns">

  <h4>Engineering News</h4>
  <div ng-controller='FeedCtrl'>
    <div ng-repeat='feed in feeds'><a href='{{feed.link}}'>{{feed.title}}</a></div>
  </div>

</div>